[MASTER]
ignore=migrations, venv, __pycache__
load-plugins=pylint_django
persistent=no

[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,
    invalid-name,
    duplicate-code,
    import-error,
    trailing-newlines,
    missing-final-newline

[FORMAT]
max-line-length=120

[TYPECHECK]
ignored-modules=django, myproject.settings

[DESIGN]
max-parents=8
max-attributes=15

[LOGGING]
logging-modules=logging,django.utils.log

[VARIABLES]
dummy-variables-rgx=^(_+[a-zA-Z0-9]*?$|dummy|unused_.*)$